@font-face{ 
    font-family: 'Aleo Light';
    src: url('../fonts/Aleo-Light-webfont.eot');
    src: url('../fonts/Aleo-Light-webfont.eot?iefix') format('eot'),
         url('../fonts/Aleo-Light-webfont.woff') format('woff'),
         url('../fonts/Aleo-Light-webfont.ttf') format('truetype'),
         url('../fonts/Aleo-Light-webfont.svg#webfont') format('svg');
}